<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>&Omega;-L&lambda;&gamma;ers</title>
    <link rel="icon" href="favicon.png"/>

    <meta name="keywords" content="idle, incremental, omega, layers, vepro, veprogames"/>
    <meta name="description" content="An Incremental Game with unlimited Layers of Prestige"/>
    <!-- <meta name="url" content="https://veprogames.github.io/omega-layers/"/> -->
    <meta name="image" content="cover.png"/>
    <meta name="theme-color" content="#f2ae3a"/>

    <meta name="og:title" content="Omega Layers"/>
    <meta name="og:type" content="website"/>
    <meta name="og:description" content="An Incremental Game with unlimited Layers of Prestige"/>
    <meta name="og:url" content="https://veprogames.github.io/omega-layers/"/>
    <meta name="og:image" content="cover.png"/>

    <meta name="twitter:card" content="summary_image_large"/>
    <meta name="twitter:title" content="Omega Layers"/>
    <meta name="twitter:description" content="An Incremental Game with unlimited Layers of Prestige"/>
    <meta name="twitter:image" content="cover.png"/>
    <meta name="twitter:site" content="@veprogames"/>
    <meta name="twitter:creator" content="@veprogames"/>

    <link rel="stylesheet" href="css/main.css"/>
    <link id="theme" rel="stylesheet" href="css/themes/dark.css"/>
</head>
<body>
<div id="loading">
    <h2><span class="omega">&Omega;</span> - L &lambda; &gamma; e r s</h2>
    <p>初始化中……</p>
</div>
<div id="app">
    <header>
        <nav>
            <div>
                <h2><span class="omega">&Omega;</span> - L &lambda; &gamma; e r s</h2>
                <button @click="settings.tab = 'Layers'"><img alt="L" class="inline" src="images/layers.svg"/> 层级</button>
                <button @click="settings.tab = 'Achievements'"><img alt="A" class="inline" src="images/star.svg"/> 成就</button>
                <button @click="settings.tab = 'Guide'"><img alt="S" class="inline" src="images/information-circle.svg"/> 教程</button>
                <button @click="settings.tab = 'Settings'"><img alt="S" class="inline" src="images/settings.svg"/> 设置</button>
            </div>
            <div>
                <layer-locked-button v-if="!isMeta" @click="settings.tab = 'Automators'" :layerid="1"><img alt="Au" class="inline" src="images/hardware-chip.svg"/> 自动器</layer-locked-button>
                <layer-locked-button v-if="!isMeta" @click="settings.tab = 'Volatility'" :layerid="2"><img alt="V" class="inline" src="images/save.svg"/> 不定性</layer-locked-button>
                <layer-locked-button v-if="!isMeta" @click="settings.tab = 'Aleph'" :layerid="3"><span class="aleph">&aleph;</span> 阿列夫</layer-locked-button>
                <layer-locked-button @click="settings.tab = 'ReStack'" :layerid="9"><img alt="LC" class="inline" src="images/layercoin.svg"/> 重新堆叠</layer-locked-button>
            </div>
        </nav>
        <news-ticker v-if="settings.newsTicker"></news-ticker>
        <layer-navigation v-if="settings.tab === 'Layers' && !isMeta" :layers="layers"></layer-navigation>
    </header>
    <main>
        <notification-container :notifications="notifications"></notification-container>
        <div v-if="settings.tab === 'Layers'">
            <prestige-layer v-if="!isMeta" :layer="currentLayer"></prestige-layer>
            <meta-layer v-else></meta-layer>
        </div>
        <settings-menu v-if="settings.tab === 'Settings'"></settings-menu>
        <volatility-tab v-if="settings.tab === 'Volatility'"></volatility-tab>
        <achievement-tab v-if="settings.tab === 'Achievements'"></achievement-tab>
        <aleph-layer v-if="settings.tab === 'Aleph'"></aleph-layer>
        <restack-tab v-if="settings.tab === 'ReStack'"></restack-tab>
        <automator-tab v-if="settings.tab === 'Automators'"></automator-tab>
        <guide-tab v-if="settings.tab === 'Guide'"></guide-tab>
    </main>
    <footer>
        <div>
            <a href="https://discord.gg/75d7Jj5" target="_blank">Discord地址</a>
            <a href="https://www.cook1eegames.feedia.co" target="_blank">官方网站地址</a>
        </div>
    </footer>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=Array.prototype.flat"></script>

<script src="js/break_eternity.min.js"></script>
<script type="text/javascript" src="notations-1.6.0.js"></script>

<!-- development version, includes helpful console warnings -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<!-- production version, optimized for size and speed -->
<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/2.6.12/vue.min.js"></script>

<script src="js/vocabulary.js"></script>
<script src="js/classes/random.js"></script>
<script src="js/classes/utils.js"></script>
<script src="js/classes/featureunlockmanager.js"></script>

<script src="js/classes/generator.js"></script>
<script src="js/classes/powergenerator.js"></script>
<script src="js/classes/upgrade.js"></script>
<script src="js/classes/challenge.js"></script>
<script src="js/classes/prestigelayer.js"></script>
<script src="js/classes/alephlayer.js"></script>
<script src="js/classes/achievement.js"></script>
<script src="js/classes/automator.js"></script>
<script src="js/classes/restacklayer.js"></script>
<script src="js/classes/metalayer.js"></script>
<script src="js/classes/notification.js"></script>

<script src="js/components/layer-colored-text.js"></script>
<script src="js/components/layer-locked-button.js"></script>
<script src="js/components/generator.js"></script>
<script src="js/components/generator-table.js"></script>
<script src="js/components/resource-name.js"></script>
<script src="js/components/resource-display.js"></script>
<script src="js/components/upgrade.js"></script>
<script src="js/components/resource-upgrade.js"></script>
<script src="js/components/aleph-upgrade.js"></script>
<script src="js/components/restack-upgrade.js"></script>
<script src="js/components/dynamic-upgrade.js"></script>
<script src="js/components/upgrade-container.js"></script>
<script src="js/components/upgrade-tree.js"></script>
<script src="js/components/upgrade-tree-arrow.js"></script>
<script src="js/components/challenge.js"></script>
<script src="js/components/challenge-table.js"></script>
<script src="js/components/current-challenge.js"></script>
<script src="js/components/layer-statistics.js"></script>
<script src="js/components/prestige-layer.js"></script>
<script src="js/components/layer-navigation.js"></script>
<script src="js/components/settings-menu.js"></script>
<script src="js/components/volatility-tab.js"></script>
<script src="js/components/aleph-layer.js"></script>
<script src="js/components/automator.js"></script>
<script src="js/components/automator-tab.js"></script>
<script src="js/components/restack-tab.js"></script>
<script src="js/components/meta-layer.js"></script>
<script src="js/components/news-ticker.js"></script>
<script src="js/components/achievement.js"></script>
<script src="js/components/achievement-tab.js"></script>
<script src="js/components/notification.js"></script>
<script src="js/components/notification-container.js"></script>
<script src="js/components/guide-item.js"></script>
<script src="js/components/guide-tab.js"></script>

<script src="js/data/functions.js"></script>
<script src="js/data/computed.js"></script>
<script src="js/data/game.js"></script>

<script src="js/main.js"></script>
<!--客服 开始-->
<script src="//g8hh.github.io/static/js/jquery.min.js"></script>
<link rel="stylesheet" href="//g8hh.github.io/static/css/kf.css" type="text/css" media="screen" charset="utf-8">
<script src="//g8hh.github.io/static/js/kf.js"></script>
<!-- 客服 结束 -->
<!--站长统计--> 
<div style="display: none">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?028b1b5f659ed138230f4cafd7ad0dfc";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
    </div>
</body>
</html>